* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat";
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form {
    padding: 50px;
    background-color: #699EC3;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 5px 5px 5px ;
    width: 30%;
}

h1 {
    font-size: 24px;
}

.campo-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: center;
}

input {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #e8e8e8;
    padding-left: 10px;
}

input:hover, input:active, input:focus {
  outline: 0;
}

.button {
    padding: 10px;
    align-self: center;
    width: 160px;
    border-radius: 30px;
    background-color: #4989B6;
    border: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 5px 5px #3e7aa5;
}

.button:hover {
    background-color: #3C7096;
    box-shadow: 5px 5px #2F5775;
}

.button:active {
  background-color: #3C7096;
  box-shadow: 5px 5px #2F5775;
  transform: translateY(2px);
}

p {
    align-self: center;
}
