* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.campo-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: center;
}

input {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #e8e8e8;
    padding-left: 10px;
}

input:hover, input:active, input:focus {
  outline: 0;
}

.button {
    padding: 10px;
    align-self: center;
    width: 160px;
    border-radius: 30px;
    background-color: #4989B6;
    border: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 5px 5px #3e7aa5;
}

.button:hover {
    background-color: #3C7096;
    box-shadow: 5px 5px #2F5775;
}

.button:active {
  background-color: #3C7096;
  box-shadow: 5px 5px #2F5775;
  transform: translateY(2px);
}

p {
    align-self: center;
}

.mensagem {
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 20px;
}

:root {
    --clarify-blue: #4989B6;
}

.form-container {
    background-color: #EDF3F8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%; 
}

.form-label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

.form-control, .form-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    width: 100%;
    box-sizing: border-box;
}

