*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

form{
    align-items: center;
    align-content: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    padding: 30px 30px;
    background-color: #CCDEEB;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

h1{
    font-size: 50px;
}

.campo-input{
    width: 400px; 
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e8e8e8;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    align-items: center; 
    gap: 15px; 
    color: #373737;
}
.titulo{
    border: none;
    background-color: transparent;
}

#descricao-pergunta {
    width: 800px; 
    max-width: 95%; 
    border: 2px solid #699EC3;
}

.form-group .form-control {
    width: 800px !important; 
    max-width: 95% !important; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 10px 20px;
    border: 2px solid #699EC3; 
}

.form-control {
    width: 800px !important;
    max-width: 95% !important; 
}

button{
    padding: 10px;
    align-self: center;
    width: 160px;
    border-radius: 30px;
    background-color: #8AB3D0;
    border: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 5px 5px #699EC3;
}

button:hover {
    background-color: #699EC3;
    box-shadow: 5px 5px #4989B6;
}

button:active {
  background-color: #699EC3;
  box-shadow: 5px 5px #4989B6;
  transform: translateY(2px);
}