*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

form{
    align-items: center;
    align-content: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    padding: 30px 30px;
    background-color: #CCDEEB;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.titulo{
    text-align: center;
    font-size: 75px;
}

.subtitulo{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

h1{
    font-size: 50px;
}

.salvar{
    padding: 10px;
    align-self: center;
    width: 160px;
    border-radius: 30px;
    background-color: #8AB3D0;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px #699EC3;
}

.salvar:hover {
    background-color: #699EC3;
    box-shadow: 5px 5px #4989B6;
}

.salvar:active {
  background-color: #699EC3;
  box-shadow: 5px 5px #4989B6;
  transform: translateY(2px);
}

.voltar{
    padding: 10px;
    align-self: center;
    width: 160px;
    border-radius: 30px;
    background-color: #8AB3D0;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px #699EC3;
}

.voltar:hover {
    background-color: #699EC3;
    box-shadow: 5px 5px #4989B6;
}

.voltar:active {
  background-color: #699EC3;
  box-shadow: 5px 5px #4989B6;
  transform: translateY(2px);
}

.gap{
    display: flex;
    justify-content: center;
    gap: 10px;
}