*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.sla{
    display: flex;
    justify-content: center;
}

.criar{
    padding: 15px 100px;
    font-size: 20px;
    cursor: pointer;
    color: #2F5775;
    font-weight: bold;
    background-color: #699EC3;
    border: 2px solid #4989B6;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.row .col {
    height: 100%;
}

.exercicio-card{
    width: 100%;
    min-height: 200px; 
    height: 200px; 
    display: flex;
    flex-direction: column;
    margin-bottom: 0; 
    background-color: #B9D5E8;
    transition: 0.3s;
    border-radius: 15px;
    padding: 20px;
}

.exercicio-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.row .col {
    height: 100%;
}

.card-body{
    padding: 0 !important; 
    margin-top: auto;
    flex-shrink: 0;
}

.card-title{
    font-size: 40px;
    flex-shrink: 0;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 100%;
}

.card-text{
    font-size: 25px;
    flex-shrink: 0;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.exercicio-info{
    flex-shrink: 0;
}

.visualizar{
    width: fit-content; 
    display: block; 
    padding: 8px 15px;
    background-color: #9ABFD8;
    color: #373737;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
}

.visualizar:active{
    background-color: #79A4C1;
    transform: translateY(1px);
}