*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #3C7096;
    border-bottom-color: #2F5775;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.navbar img {
    width: 70px;
    align-items: flex-start;
}

.right {
    margin-left: auto;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: #333;
    font-weight: 500;
}

.navbar-links li:hover {
    background-color: #99C0DA;
    border-radius: 25px;
}
 
.navbar2 {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #699EC3;
    border-bottom-color: #4989B6;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}
.navbar-links2 {
    height: 100%;
}

.navbar-links2 ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links2 li {
    list-style: none;
    
}

.navbar-links2 li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: white;
    font-weight: 500;

}

.navbar-links2 li:hover {
    background-color: #4989B6;
}

.pesquisa{
    width: 250px;
    padding: 12px 20px;
    display: flex;
    justify-content: right;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #CCDEEB;
    color: #373737;
    border: none;
}

.pesquisa, input:hover, input:active, input:focus {
  outline: 0;
}

.barra{
    background-color: white;
    height: 30px;
    width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.entrar{
    display: flex;
    align-items: right;
}

.login{
    display: flex;
    justify-content: center;
    padding: 8px 50px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #8AB3D0;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px #699EC3;
    gap: 10px;
    margin-right: 10px;
}

.cadastro{
    display: flex;
    justify-content: center;
    padding: 8px 50px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #B6D0E2;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px #8AB3D0;
}

form{
    align-items: center;
    align-content: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    padding: 30px 30px;
    background-color: #CCDEEB;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.titulo{
    text-align: center;
    font-size: 75px;
}

.subtitulo{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.divisao{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    gap: 100px;
}

.dados{
    font-size: 40px;
}

.nome{
    font-size :x-large;
    background-color: #F8FBFC;
}

.email{
    font-size: x-large;
}

.aluno{
    font-size: 40px;
}

.serie{
    font-size: x-large;
}

.botao{
    display: flex;
    justify-content: center;
}

.btn{
    text-decoration: none;
}

.editar{
    display: flex;
    justify-content: center;
    padding: 8px 50px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #8AB3D0;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px #699EC3;
    gap: 10px;
}

.sair{
    display: flex;
    justify-content: center;
    padding: 8px 50px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #8AB3D0;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px #699EC3;
    gap: 10px;
}