*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

form{
    align-items: center;
    align-content: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    padding: 30px 30px;
    background-color: #CCDEEB;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.titulo{
    text-align: center;
    font-size: 75px;
}

.subtitulo{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.divisoria{
    height: 5px;
    background-color: #8AB3D0;
    margin-top: 40px;
    margin-bottom: 20px;
}

.divisao{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    gap: 100px;
}

.dados{
    font-size: 40px;
}

.nome{
    font-size :x-large;
}

.email{
    font-size: x-large;
}

.aluno{
    font-size: 40px;
}

.serie{
    font-size: x-large;
}

.professor{
    font-size: 40px;
}
.especializacao{
    font-size: x-large;
}
.botao{
    display: flex;
    justify-content: center;
}

.btn{
    text-decoration: none;
}

.editar{
    display: flex;
    justify-content: center;
    padding: 8px 50px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #8AB3D0;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px #699EC3;
    gap: 10px;
}

.sair{
    display: flex;
    justify-content: center;
    padding: 8px 50px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #8AB3D0;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px #699EC3;
    gap: 10px;
}