*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}

.card {
    position: relative;
    margin-top: 25px;
    margin-left: 15px;
    background-color: #B9D5E8;
    transition: 0.3s;
    width: 500px;
    border-radius: 15px;
    padding: 20px, 20px;
}

.card:hover {
    transform: translateY(2px);
}

.card-body{
    padding: 20px 20px;
}

.card-text{
    margin-top: 15px;
}

.responder{
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 8px 8px;
    background-color: #9ABFD8;
    outline: none;
    border: none;
    border-radius: 25px;
}

.responder a{
    color: #373737;
    font-weight: bold;
}

.responder:hover{
    background-color: #79A4C1;
}

.responder:active{
    background-color: #79A4C1;
    transform: translateY(2px);
} 

.pergunta {
    display: inline;
    margin: 0 0 0 15px;
}