*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.sla{
    display: flex;
    justify-content: center;
}

.criar{
    padding: 15px 200px;
    font-size: 25px;
    cursor: pointer;
    color: #2F5775;
    font-weight: bold;
    background-color: #699EC3;
    border: 2px solid #4989B6;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.criar a{
    color: #8AB3D0;
    font-weight: bold;
    text-decoration: none;
}
.criar:hover{
    background-color: #4989B6;
    border-color: #3C7096;
}
.criar:active{
    transform: translateY(2px);
}

.row .col {
    height: 100%;
}

.pergunta-card{
    width: 100%;
    min-height: 250px; 
    height: 250px; 
    display: flex;
    flex-direction: column;
    margin-bottom: 0; 
    background-color: #B9D5E8;
    transition: 0.3s;
    border-radius: 15px;
    padding: 20px;
}

.pergunta-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.row .col {
    height: 100%;
}

.card-body{
    padding: 0 !important; 
    margin-top: auto;
    flex-shrink: 0;
}

.card-title{
    width: fit-content;
    font-size: 40px;
    flex-shrink: 0;
}

.card-text{
    font-size: 25px;
    flex-grow: 100; 
    flex-shrink: 1;
    overflow: hidden; 
    margin-top: 5px; 
    margin-bottom: 5px;
}

.pergunta-info{
    flex-shrink: 0;
}

.responder{
    width: fit-content; 
    display: block; 
    padding: 8px 15px;
    background-color: #9ABFD8;
    color: #373737;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
}

.responder:active{
    background-color: #79A4C1;
    transform: translateY(1px);
}
