*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #47638D;
    display: flex;
    padding: 20px;
    font-family: sans-serif;
    color: white;
    height: 40px;
    width: auto;
    padding-inline: 16px;
}
.navbaritems{
    display: flex;
}
.navlink{
    display: flex;
    padding-right: 8px;
    margin: auto;
}
.navbaritems--right{
    margin-left: auto;
}
.butao{
    background-color: #688bc0;
    padding: 10px;
    border-radius: 25px;
}
.logo{
    height: 90px;
    width: 90px;    
    align-items: center;
}