*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.exercicio-view {
    background-color: #B6D0E2;
    border-left: 6px solid #8AB3D0;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.resolucao-card {
    background-color: #CCDEEB;
    border-left: 3px solid #B6D0E2;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
}
.resolucao-card h2 {
    color: #28a745;
    margin-bottom: 15px;
}