*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.pergunta-view{
    background-color: #B6D0E2;
    border-left: 6px solid #8AB3D0;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    word-break: break-word;
}

.btn{
    cursor: pointer;
    background-color: #8AB3D0;
    box-shadow: 5px 5px #699EC3;
    border-radius: 50px;
    color: #373737;
    font-weight: bold;
}

.btn:hover{
    background-color: #8AB3D0;
}

.btn:active{
    background-color: #8AB3D0;
    transform: translateY(1px);
}

.resposta-card {
    background-color: #CCDEEB;
    border-left: 3px solid #B6D0E2;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    word-break: break-word;
}

.resposta-professor {
    border-left: 3px solid #699EC3;
    background-color: #8AB3D0;
}

.professor-tag {
    font-weight: bold;
    color: #4989B6;
    margin-left: 10px;
}