*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.pergunta-view {
    background-color: #ffffff;
    border-left: 6px solid #4989B6;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.resposta-card {
    background-color: #f8f9fa;
    border-left: 3px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
}
.resposta-professor {
    border-left: 3px solid #28a745;
    background-color: #e6f9ed;
}
.professor-tag {
    font-weight: bold;
    color: #28a745;
    margin-left: 10px;
}